/* --------------------------------------------------
   RESET & GENERAL
-------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Avenir Next", "Avenir", sans-serif;
    background: #EDE7E3;
    color: #232323;
}

a {
    color: black;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}


.navbar {
    width: 100%;
    background: #82C0CC;
    /*box-shadow: 0 1px 4px rgba(146, 161, 176, 0.20);*/
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 90%;
    margin: auto;
    position: relative;
}

/* Logo */
.logo-img {
    height: 45px;
    width: auto;
    position: absolute;
    right: 20px;
    top: 10px;
}

/* Hamburger Button */
.checkbox {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 20px;
    left: 20px;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
}

.hamburger-lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 26px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 3;
}

.hamburger-lines .line {
    height: 4px;
    width: 100%;
    background: #213A57;
    border-radius: 10px;
    transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line1 { transform-origin: 0% 0%; }
.hamburger-lines .line3 { transform-origin: 0% 100%; }

/* Line animations */
.checkbox:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}
.checkbox:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
.checkbox:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}


.menu-items {
    padding-top: 120px;
    height: 100vh;
    width: 70%;
    background: #4694aa;
    transform: translateX(-150%);
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.menu-items li {
    list-style: none;
}

.menu-items a {
    font-size: 1.6rem;
    font-weight: 600;
    color: #213A57;
    padding: 10px 0;
}

.menu-items a:hover {
    color: black;

}

.checkbox:checked ~ .menu-items {
    transform: translateX(0);
}

.checkbox:checked ~ .logo {
    opacity: 0;
}

/* Desktop Navigation */
@media (min-width: 900px) {

    .checkbox,
    .hamburger-lines {
        display: none;
    }

    .menu-items {
        transform: none;
        background: none;
        height: auto;
        flex-direction: row;
        gap: 40px;
        padding: 1rem;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    .menu-items a {
        font-size: 1.2rem;
        color: #213A57;
    }

    .logo-img {
        left: 20px;
        right: auto;
    }
}

/* --------------------------------------------------
   HERO SECTION
-------------------------------------------------- */
.hero-section {
    background: #FDFDFD;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 20px;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    gap: 30px;
}

.hero-text h1 {
    font-size: 42px;
    color: #213A57;
    margin-bottom: 20px;
    animation: fadeInDown 1s ease forwards;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #555;
    animation: fadeIn 1.2s ease forwards;
}

.hero-image img {
    max-width: 200px;
    width: 100%;
    border-radius: 20px;
    animation: fadeIn 1.5s ease forwards;
}

/* --------------------------------------------------
   GLASS SECTIONS
-------------------------------------------------- */

.glass {
    margin: 2rem;
    margin-bottom: 5rem;
    max-width: 100%;
    height: 100%;
}

.about-section {

    background: url("https://i.pinimg.com/1200x/13/2a/18/132a18ac27ddc741025f9e513213b58e.jpg");
}

.info-section {
    background-color: #ffffff;
}

.contact-section {
    background-color: #EDE7E3;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #213A57;
}

.section p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.section {
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*scroll-margin-top: 70px;*/
}

/* --------------------------------------------------
   BUTTONS
-------------------------------------------------- */
.btn {
    display: block;
    background-color: #4a90e2;
    color: white;
    padding: 12px 30px;

    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
    margin: 20px auto;
    width: fit-content;
}

.btn:hover {
    background-color: #357ab8;
}

.btn a {
    color: white;
}

/* --------------------------------------------------
   ANIMATIONS
-------------------------------------------------- */
@keyframes fadeIn { from {opacity:0;} to {opacity:1;} }
@keyframes fadeInDown { from {opacity:0; transform:translateY(-30px);} to {opacity:1; transform:translateY(0);} }

/* --------------------------------------------------
   RESPONSIVE
-------------------------------------------------- */

@media (max-width: 900px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .hero-image img {
        max-width: 90%;
        margin-top: 30px;
    }

    .section {
        padding: 60px 20px;
    }
}
@media (max-width: 900px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}
/* --------------------------------------------------
   FOOTER SECTION
-------------------------------------------------- */

.main-footer {

    background-image: url("https://i.pinimg.com/1200x/8f/3f/2f/8f3f2fd3984b88d5228979013ae91844.jpg");
    color: #2a2930;
    padding: 40px 0 0 0;
    font-size: 16px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 40px;
    width: 90%;
    margin: auto;
}

.footer-col {
    flex-basis: 25%;
    min-width: 250px;
}

/* Coloana de Logo/Contact (Prima coloană, puțin mai lată) */
.footer-contact-col {
    flex-basis: 35%;
}

.footer-logo-img {
    height: 45px;
    width: auto;
    margin-bottom: 15px;

}

.footer-col h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #82C0CC;
    border-bottom: 2px solid #82C0CC;
    padding-bottom: 5px;
}

.footer-col p {
    margin-bottom: 10px;
    line-height: 1.5;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col a {
    color: #2a2930;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-col a:hover {
    color: #82C0CC;
}

.footer-bottom {
    background: #4694aa;
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid #4694aa;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
    color: #2a2930;
}


/* Adaptare pentru mobil */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-col {
        flex-basis: 100%;
        min-width: 100%;
        text-align: center;
    }

    .footer-col h3 {
        text-align: center;
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-col ul {
        padding: 0;
    }

    .footer-contact-details p {
        text-align: center;
    }

    .footer-col:not(:last-child) {
        margin-bottom: 20px;
    }
}
/* Stil pentru a centra GIF-urile */
.gif-container {
    display: flex;
    justify-content: space-between;
    gap: 5rem;

    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}


.gif-container img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}


@media (max-width: 500px) {
    .gif-container {
        gap: 15px;
    }
}


.appointment-form-container {
    display: flex;
    max-width: 900px;
    margin: 50px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.side-block {
    background-color: #2e86de;
    color: white;
    width: 30%;
    min-width: 200px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.calendar-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.side-block h2 {
    font-size: 1.5rem;
    font-weight: 500;
}


.main-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    background-color: #f5f5f5;
}


.fields-container {
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 15px 25px;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}


.appointment-btn {

    grid-column: 1 / 3;
    background-color: #8cc63f;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

.appointment-btn:hover {
    background-color: #79ac35;
}


@media (max-width: 768px) {
    .appointment-form-container {
        flex-direction: column; /* Stivuiește blocurile pe verticală */
    }

    .side-block {
        width: 100%;
        min-height: 100px;
    }

    .fields-container {
        grid-template-columns: 1fr; /* Treci la o singură coloană */
    }

    .appointment-btn {
        grid-column: 1 / 1;
    }
}


.logged-user-status {

    position: absolute;
    right: 20px;
    top: 25px;

    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 1000;
}

.logged-user-status .username {
    font-size: 1rem;
    color: #213A57;
    font-weight: 600;
}


.status-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;

}

/* Starea Logat (verde) */
.status-indicator.logged-in {
    background-color: #4CAF50;
    border: 1px solid #388E3C;
}


@media (max-width: 900px) {
    .logged-user-status {
        display: none;
    }
}

@media (min-width: 900px) {
    .logged-user-status {
        right: 40px;
    }
}

/* Login button */
.login-btn {
    padding: 8px 18px;
    background-color: #3793f1;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    border-color: #3793f1;

}

.login-btn:hover {
    background-color: #0056b3;
}

/* Logout button */
.logout-form {
    display: inline;
}

.logout-btn {
    padding: 8px 10px;
    background-color: #cd0000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.25s;
}

.logout-btn:hover {
    background-color: #a60617;
}
