<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<head>
    <meta charset="UTF-8">
    <title>ClinicaTrat</title>

</head>
<body>
<nav class="desktop-menu">
    <a href="#">
        <img src="/assets/logo.png" alt="ClinicaTrat Logo" class="logo">
    </a>
    <div class="menu-links">
        <a href="#">Home</a>
        <a href="#about">About</a>
        <a th:href="@{/info}">Info</a>
        <a href="#contact">Contact</a>
    </div>
</nav>
<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox" id="menuCheckbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <li><a href="#"><label for="menuCheckbox">Home</label></a></li>
            <li><a href="#about"><label for="menuCheckbox">About</label></a></li>
            <li><a  th:href="@{/info}"><label for="menuCheckbox">Info</label></a></li>
            <li><a href="#contact"><label for="menuCheckbox">Contact</label></a></li>
        </ul>
    </div>
</nav>

</body>
</html>
