<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ClinicaTrat</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<nav>
    <div class="navbar">
        <div class="container nav-container">
            <input class="checkbox" type="checkbox" id="nav-toggle" />

            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>


                <div class="logo hide-mobile">
                <img src="/assets/logo.png" alt="ClinicaTrat Logo" class="logo-img">
                </div>


            <div class="menu-items">
                <li><a href="#home" onclick="document.getElementById('nav-toggle').checked = false;">Home</a></li>
                <li><a href="#about" onclick="document.getElementById('nav-toggle').checked = false;">About</a></li>
                <li >
                    <a th:href="@{/info}" onclick="document.getElementById('nav-toggle').checked = false;">
                        Informatii
                    </a>

                </li>
                <li><a th:href="@{/contact}" onclick="document.getElementById('nav-toggle').checked = false;">Contact</a></li>
                <li>
                    <a th:href="@{/rapoarte}" > Rapoarte</a>
                </li>
            </div>
            <div th:if="${currentUsername != null}">
                Bine ai venit, <strong th:text="${currentUsername}"></strong>!
                <form th:action="@{/logout}" method="post" style="display:inline;">
                    <button type="submit" class="logout-btn">Logout</button>
                </form>
            </div>

            <div th:if="${currentUsername == null}">
               <form th:action="@{/login}" method="post" style="display: inline">
                   <button type="submit" class="login-btn">Login</button>
               </form>
            </div>


        </div>
    </div>
</nav>

<!-- Hero Section -->
<section id="home" class="section hero-section">
    <div class="hero-content container">
        <div class="hero-text">
            <h1>ClinicaTrat – Sănătatea ta, prioritatea noastră</h1>
            <p>Servicii medicale de înaltă calitate, personal specializat și tehnologie modernă.</p>

        </div>

        <div class="hero-image">
            <img src="/assets/hero-image.png" alt="Medical illustration">
        </div>
        <div class="btn">
            <a href="/info">Vezi Datele!</a>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="section about-section">
    <div class="container glass">
        <h2>Despre Noi</h2>
        <p>La Clinica Trat, toate informațiile despre pacienți, programări și personalul medical sunt organizate eficient într-o bază de date sigură și actualizată. Sistemul nostru asigură acces rapid la date, programări bine coordonate și protecția confidențialității fiecărui pacient,
            pentru un management medical eficient și fără probleme.</p>
    </div>
</section>




<!-- Info Section -->
<section id="info" class="section info-section">
    <div class="container glass">
        <h2>Informații pacienți</h2>
        <p>Accesează datele pacienților în mod securizat. Numai personalul autorizat poate vizualiza informațiile sensibile.</p>
    </div>
    <div class="gif-container">
        <img src="/assets/folder.gif" >
        <img src="/assets/pills.gif" >
        <img src="/assets/file.gif" >
        <img src="/assets/sample.gif" >
    </div>

    <div class="btn">
        <a href="/listPacients">Vezi Datele!</a>
    </div>
</section>

<section class="section active-medics-section" style="background:rgb(0,2,3,0)">
    <div class="container glass">

        <h2>Medici activi astăzi</h2>
        <p>Medicii care au programări în curs.</p>

        <table class="active-medics-table">
            <thead>
            <tr>
                <th>Medic</th>
                <th>Specializare</th>
                <th>Programări</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m : ${mediciActivi}">
                <td th:text="${m.nume + ' ' + m.prenume}"></td>
                <td th:text="${m.specializare}"></td>
                <td th:text="${m.nrProgramari}"></td>
            </tr>

            <tr th:if="${#lists.isEmpty(mediciActivi)}">
                <td colspan="3" style="text-align:center;">
                    Nu există programări astăzi.
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</section>


<section style="padding-top:2rem;
        background-image:url(https://i.pinimg.com/736x/17/43/21/174321b860839f260a096c0dd2e3ffaf.jpg);
        min-height:80vh">

    <div class="appointment-form-container">

        <div class="side-block">
            <i class="calendar-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="106" height="106" fill="currentColor" class="bi bi-calendar-date-fill" viewBox="0 0 16 16">
                <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zm5.402 9.746c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2"/>
                <path d="M16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm-2.89-5.435v5.332H5.77V8.079h-.012c-.29.156-.883.52-1.258.777V8.16a13 13 0 0 1 1.313-.805h.632z"/>
            </svg>
            </i>
            <h2>Programare</h2>
        </div>

        <div th:if="${error}" class="error-popup">
            <span th:text="${error}"></span>
        </div>

        <form class="main-form"
              th:action="@{/programare}"
              method="post">

            <div class="fields-container">

                <!-- CNP -->
                <div class="input-group">
                    <label for="cnp">CNP pacient</label>
                    <input type="text"
                           id="cnp"
                           name="cnp"
                           placeholder="Introduceți CNP-ul"
                           required>
                </div>

                <div class="input-group">
                    <label for="medic">Medic</label>
                    <select id="medic"
                            name="medicID"
                            required>
                        <option value="">-- Selectează medic --</option>
                        <option th:each="m : ${medici}"
                                th:value="${m.medicID}"
                                th:text="${m.nume + ' ' + m.prenume + ' - ' + m.specializare}">
                        </option>
                    </select>
                </div>

                <div class="input-group">
                    <label for="motiv">Motiv vizită</label>
                    <select id="motiv"
                            name="motiv"
                            required>
                        <option value="">-- Selectează motiv --</option>
                        <option value="Consultatie scurta">
                            Consultație scurtă (10 min)
                        </option>
                        <option value="Consultatie standard">
                            Consultație standard (20 min)
                        </option>
                        <option value="Control">
                            Control (15 min)
                        </option>
                        <option value="Investigatie">
                            Investigație (30 min)
                        </option>
                    </select>
                </div>

                <!-- DATA -->
                <div class="input-group">
                    <label for="date">Data programării</label>
                    <input type="date"
                           id="date"
                           name="appointment_date"
                           required>
                </div>

            </div>

            <button type="submit" class="appointment-btn">
                Trimite Programarea
            </button>

        </form>
    </div>
</section>



<footer class="main-footer">
<div class="container footer-container">
    <div class="footer-col footer-contact-col">
        <img src="/assets/logo.png" alt="ClinicaTrat Logo" class="footer-logo-img">
        <p>Sănătatea ta, prioritatea noastră. Pentru urgențe sau programări rapide, ne poți contacta oricând.</p>

        <div class="footer-contact-details">
            <p><strong>Email:</strong> contact@clinicatrat.com</p>
            <p><strong>Telefon:</strong> +40 123 456 789</p>
        </div>
    </div>

    <div class="footer-col footer-links-col">
        <h3>Link-uri Rapide</h3>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">Despre Noi</a></li>
            <li><a th:href="@{/info}">Informații BD</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>

    <div class="footer-col footer-info-col">
        <h3>Informații Utile</h3>
        <ul>
            <li><a href="#">Termeni și Condiții</a></li>
            <li><a href="#">Politica de Confidențialitate</a></li>
            <li><a href="#">Locația Noastră</a></li>
            <li><a href="#">Cariere</a></li>
        </ul>
    </div>
</div>

<div class="footer-bottom">
    <div class="container">
        <p>&copy; 2025 ClinicaTrat. Toate drepturile rezervate.</p>
    </div>
</div>
</footer>
</body>
</html>
