<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/listPacients.css">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Lista medicilor</title>
</head>
<body>


<nav>
    <div class="navbar">
        <div class="container nav-container">
            <input class="checkbox" type="checkbox" id="nav-toggle" />

            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>

            <div class="logo">
                <img src="/assets/logo.png" alt="ClinicaTrat Logo" class="logo-img">
            </div>

            <ul class="menu-items">
                <li><a th:href="@{/index}" onclick="document.getElementById('nav-toggle').checked = false;">Home</a></li>
                <li><a th:href="@{/index}" onclick="document.getElementById('nav-toggle').checked = false;">About</a></li>
                <li><a th:href="@{/info}" onclick="document.getElementById('nav-toggle').checked = false;">Informatii</a></li>
                <li><a th:href="@{/contact}" onclick="document.getElementById('nav-toggle').checked = false;">Contact</a></li>
                <li>
                    <a th:href="@{/rapoarte}" > Rapoarte</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1>Lista medicilor</h1>

<form class="search-form" method="get" th:action="@{/medics}">
    <label for="field">Caută după:</label>
    <select name="field" id="field"  th:value="${field}">
        <option value="Nume" th:selected="${field == 'Nume'}">Nume</option>
        <option value="Prenume" th:selected="${field == 'Prenume'}">Prenume</option>
        <option value="Specializare" th:selected="${field == 'Specializare'}">Specializare</option>
        <option value="Salariu" th:selected="${field == 'Salariu'}">Salar</option>
        <option value="Sex" th:selected="${field == 'Sex'}">Sex</option>
    </select>

    <input type="text" name="value" placeholder="Introduceți valoarea">

    <button type="submit">Search</button>
    <input type="hidden" name="dir" th:value="${dir}">
    <button type="submit" name="order" value="true">Order by

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
        </svg>
    </button>
    <a th:href="@{/addMedic}" class="btn add-btn" >Adauga medic</a>
</form>
<table>
    <thead>
    <tr>
        <th>Modif</th>
        <th>Nume</th>
        <th>Prenume</th>
        <th>Specializare</th>
        <th>Salariu</th>
        <th>Pacienti</th>
        <th>Nr programari</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${medici}">
        <td class="modif-cell">
            <form th:action="@{/medics/delete/{id}(id=${p.medicID})}"
                  method="get"
                  class="delete-form"
            >

                <button type="button"
                        class="modif-button"
                        onclick="togglePopup(this)">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16" height="16"
                         style="cursor:pointer"
                         class="bi bi-trash3"
                         viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg></button>
                /
                <a th:href="@{/medics/update/{id}(id=${p.medicID})}"
                   class="modif-button">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                    </svg>

                </a>
                <div class="table-popup">
                    <p>Ștergi medicul?</p>
                    <div class="popup-actions">
                        <button type="submit" class="confirm-btn">Da</button>
                        <button type="button"
                                class="cancel-btn"
                                onclick="closePopup(this)">Nu</button>
                    </div>
                </div>
            </form>


        </td>
        <td th:text="${p.nume}"></td>
        <td th:text="${p.prenume}"></td>
        <td th:text="${p.specializare}">/td>
        <td th:text="${p.salariu}"></td>
<!--        <td th:text="${p.sex}"></td>-->
        <td>
    <span th:if="${pacientiPerMedic[p.medicID] != null}"
          th:text="${#lists.size(pacientiPerMedic[p.medicID]) + ' pacienti'}">
    </span>
            <span th:if="${pacientiPerMedic[p.medicID] == null}">
        0 pacienti
    </span>
        </td>

        <td th:text="${nrProgramari[p.medicID] != null ? nrProgramari[p.medicID] : 0}"></td>

    </tr>
    <tr th:if="${#lists.isEmpty(medici)}">
        <td colspan="4" style="text-align: center;">Nu există medici.</td>
    </tr>
    </tbody>

</table>
<section style="margin: 20px 0; padding: 15px; background: #f5f5f5; border-radius: 8px;">
    <h2>Medicii fără prescrieri</h2>

    <table>
        <thead>
        <tr>
            <th>Nume</th>
            <th>Prenume</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mm : ${medici2}">
            <td th:text="${mm.nume}"></td>
            <td th:text="${mm.prenume}"></td>
        </tr>

        <tr th:if="${#lists.isEmpty(medici2)}">
            <td colspan="2" style="text-align:center;">
                Toți medicii au prescrieri.
            </td>
        </tr>
        </tbody>
    </table>
</section>

<div class="table-popup">
    <p>Stergi medicul?</p>
    <div class="popup-actions">
        <button type="submit" class="confirm-btn">Da</button>
        <button type="button"
                class="cancel-btn"
                onclick="closePopup(this)">Nu</button>
    </div>
</div>
<script>
    function togglePopup(button) {

        document.querySelectorAll('.table-popup').forEach(p => {
            if (!button.closest('form').contains(p)) {
                p.style.display = 'none';
            }
        });

        const popup = button.closest('form').querySelector('.table-popup');
        popup.style.display = popup.style.display === 'block' ? 'none' : 'block';
    }

    function closePopup(button) {
        const popup = button.closest('.table-popup');
        popup.style.display = 'none';
    }

    // click în afara tabelului închide popup-ul
    document.addEventListener('click', function (e) {
        if (!e.target.closest('.delete-form')) {
            document.querySelectorAll('.table-popup').forEach(p => {
                p.style.display = 'none';
            });
        }
    });
</script>
</body>
</html>
