<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/listPacients.css">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Lista medicamentelor</title>
</head>
<body>

<nav>
    <div class="navbar">
        <div class="container nav-container">
            <input class="checkbox" type="checkbox" id="nav-toggle" />

            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>

            <div class="logo">
                <img src="/assets/logo.png" alt="ClinicaTrat Logo" class="logo-img">
            </div>

            <ul class="menu-items">
                <li><a th:href="@{/index}" onclick="document.getElementById('nav-toggle').checked = false;">Home</a></li>
                <li><a th:href="@{/index}" onclick="document.getElementById('nav-toggle').checked = false;">About</a></li>
                <li><a th:href="@{/info}" onclick="document.getElementById('nav-toggle').checked = false;">Informatii</a></li>
                <li><a th:href="@{/contact}" onclick="document.getElementById('nav-toggle').checked = false;">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<h1>Lista medicamentelor</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nume</th>
        <th>Data_exp</th>
        <th>Stoc</th>\
        <th>Pret</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${medicaments}">
        <td th:text="${p.medicamentID}"></td>
        <td th:text="${p.nume}"></td>
        <td th:text="${p.data_expirarii}"></td>
        <td th:text="${p.stoc}"></td>
        <th th:text="${p.pret}"></th>
    </tr>
    <tr th:if="${#lists.isEmpty(medicaments)}">
        <td colspan="4" style="text-align: center;">Nu există medicamente.</td>
    </tr>
    </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const menuItems = document.querySelector('.menu-items');
        // Adaugă clasa de tranziție care conține 'transition: transform 0.5s...'
        if (menuItems) {
            menuItems.classList.add('menu-transition');
        }
    });
</script>
</body>
</html>
