<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/listPacients.css">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Lista programarilor</title>
</head>
<body>

<nav>
    <div class="navbar">
        <div class="container nav-container">
            <input class="checkbox" type="checkbox" id="nav-toggle" />

            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>

            <div class="logo">
                <img src="/assets/logo.png" alt="ClinicaTrat Logo" class="logo-img">
            </div>

            <ul class="menu-items">
                <li><a th:href="@{/index}" onclick="document.getElementById('nav-toggle').checked = false;">Home</a></li>
                <li><a th:href="@{/index}" onclick="document.getElementById('nav-toggle').checked = false;">About</a></li>
                <li><a th:href="@{/info}" onclick="document.getElementById('nav-toggle').checked = false;">Informatii</a></li>
                <li><a th:href="@{/contact}" onclick="document.getElementById('nav-toggle').checked = false;">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<h1>Lista programarilor</h1>


<form th:action="@{/programari/search}" method="get" style="margin-bottom: 20px;">
    <label>Caută după:</label>
    <select name="field">
        <option value="pacientID">Pacient ID</option>
        <option value="medicID">Medic ID</option>
        <option value="Data_programare">Data programare</option>
    </select>

    <input type="text" name="value" placeholder="Introduceți valoarea căutată" >
    <button type="submit">Cauta</button>
    <a th:href="@{/addProgramare}" class="btn add-btn" >Adaugă programare</a>
</form>



<table>
    <thead>
    <tr>
        <th>ProgramareID</th>
        <th>PacientID</th>
        <th>MedicID</th>
        <th>Data_prog</th>
        <th>Durata</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${programari}">
        <td th:text="${p.programareID}"></td>
        <td th:text="${p.pacientID}"></td>
        <td th:text="${p.medicID}"></td>
        <td th:text="${p.data_programare}"></td>
        <td th:text="${p.durata_programare}"></td>
    </tr>

    <tr th:if="${#lists.isEmpty(programari)}">
        <td colspan="5" style="text-align: center;">Nu există programari.</td>
    </tr>
    </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const menuItems = document.querySelector('.menu-items');
        if (menuItems) {
            menuItems.classList.add('menu-transition');
        }
    });
</script>

</body>
</html>
