<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<form th:action="@{/register}" th:object="${user}" method="post">
    <h3>Create Account</h3>

    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Enter username">

    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Enter password">

    <label for="email">Email</label>
    <input type="text" th:field="*{email}" placeholder="Email:dom@yahoo.com" id="email" >

    <label for="role">Tip utilizator</label>
    <select  th:field="*{role}" id="role" required>
        <option value="ROLE_PACIENT">ROLE_PACIENT</option>
        <option value="ROLE_MEDIC">ROLE_MEDIC</option>
        <option value="ROLE_ADMIN">ROLE_ADMIN</option>
    </select>

    <div class="buttons">
        <button type="submit" class="register-btn">Register</button>
        <a href="/login" class="login-btn">Login</a>
    </div>


</form>
<div th:if="${error}" class="error-popup">
    <span th:text="${error}"></span>
</div>
<script>
    setTimeout(() => {
        const error = document.querySelector('.error-popup');
        if (error) error.style.display = 'none';
    }, 4000);
</script>

</body>
</html>
