<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/listPacients.css">
<head>
    <meta charset="UTF-8">
    <title>Lista Tratament Medicatie</title>
</head>
<body>

<nav>
    <div class="navbar">
        <div class="container nav-container">
            <input class="checkbox" type="checkbox" id="nav-toggle" />

            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>

            <div class="logo">
                <img src="/assets/logo.png" alt="ClinicaTrat Logo" class="logo-img">
            </div>

            <ul class="menu-items">
                <li><a th:href="@{/index}" onclick="document.getElementById('nav-toggle').checked = false;">Home</a></li>
                <li><a th:href="@{/index}" onclick="document.getElementById('nav-toggle').checked = false;">About</a></li>
                <li><a th:href="@{/info}" onclick="document.getElementById('nav-toggle').checked = false;">Informatii</a></li>
                <li><a th:href="@{/contact}" onclick="document.getElementById('nav-toggle').checked = false;">Contact</a></li>
                <li>
                    <a th:href="@{/rapoarte}" > Rapoarte</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1>Lista Tratament Medicatie</h1>

<table>
    <thead>
    <tr>
        <th>ID Tratament</th>
        <th>ID Medicament</th>
        <th>Doza</th>
        <th>Frecventa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tm : ${tratamentMedicatie}">
        <td th:text="${tm.tratamentID}"></td>
        <td th:text="${tm.medicamentID}"></td>
        <td th:text="${tm.doza}"></td>
        <td th:text="${tm.frecventa}"></td>
    </tr>
    <tr th:if="${#lists.isEmpty(tratamentMedicatie)}">
        <td colspan="4" style="text-align: center;">Nu există tratamente pentru medicamente.</td>
    </tr>
    </tbody>
</table>

</body>
</html>
