<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>Editează medicament</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/update.css">
</head>
<body>

<div id="errorPopup" class="alert alert-danger error-popup" style="display:none;">
    <span id="errorMessage"></span>
</div>
<div id="errorOverlay" class="error-overlay" style="display:none;"></div>


<h1>Editează medicament</h1>

<form class="update-form"
      th:action="@{/medicaments/update/{id}(id=${medicament.medicamentId})}"
      th:object="${medicament}"
      onsubmit="return validateMed()"
      method="post">

    <!-- ID ascuns -->
    <input type="hidden" th:field="*{medicamentId}"/>

    <label>Nume</label>
    <input type="text" th:field="*{nume}" required/>

    <label>Stoc</label>
    <input type="text" th:field="*{stoc}" min="0" required/>

    <label>Preț</label>
    <input type="text"
           th:field="*{pret}"
           step="0.1"
           min="0"
           required/>

    <div class="buttons">
        <button type="submit" class="confirm-btn">Salvează</button>
        <a th:href="@{/medicaments}" class="cancel-btn">Renunță</a>
    </div>

</form>
<script src="/js/validateMed.js"></script>
</body>
</html>
